.card {
  margin: 70px auto 70px auto;
  width: 60%;
  border: 3px solid black;
  padding: 10px;
  float: none;
  background-color: #f8f9fa;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  border-radius: 50px 20px;
}
.bg {
  background-image: url("background.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 0 0 30px 30px;
}

.navbar {
  border-radius: 30px 30px 0 0;
}

@media only screen and (min-width: 600px) {
  .card {
    width: 60%;
  }
}

@media only screen and (max-width: 970px) {
  .card {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80%;
  }
}
