.dropDown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute; /*positionen satt för att menyn går över sakerna som ligger nedanför istället för att förskjutas*/
    background-color: #f1f1f1; /*färg på bakgrunden på länkarna som kommer fram*/
    min-width: 160px; /*storlek på menyn som kommer fram*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: rgb(0, 0, 0); /*Färg på länktexten i droppdownmenyn*/
    padding: 12px 16px; /*förskjutning av länktexten (upp/ner och höger/vänster)*/
    text-decoration: none;
    display: block; /*för att kräva att länkarna hamnar under varandra*/
}

.dropdown-content a:hover {
    background-color: #ddd; /*färg på bakgrunden när musen är över*/
}

.dropDown:hover .dropdown-content {
    display: block;  /*för att kräva att länkarna hamnar under varandra*/
}

.dropDown:hover .dropButton {
    background-color: #aaa2a2; 
    color: rgb(22, 0, 0); /*Färg på text när dropdown är aktiverad*/
}